body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #111;
}

#navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #222;
  transition-duration: 0.2s;
}

.bigblue {
    text-align: center;
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-family:'Courier New', Courier, monospace;
    border: 2px solid WHITE;
}

iframe {
    border: 0px solid black;
    padding-left: 20px;
}

hr {
    height: 1px;
    color: #555;
    background-color: #555;
    border: none;
}

h2 {
    padding-left: 20px;
    color: rgb(170, 163, 163);
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition-duration: 0.2s;
}

h1 {
    color: white;
    padding-left: 20px;
}

p {
    color: #929292;
    padding-left: 20px;
}

#navbar a:hover {
  background-color: #333;
  color: white;
  transition-duration: 0.2s;
}

#navbar a.active {
  background-color: #333;
  color: white;
  transition-duration: 0.2s;
}

.content {
  padding: 16px;
}

.link-generate {
    font-family: 'Roboto Condensed', sans-serif;
}
    
.title {
    font-size: 1.6em;
    color: gray;
    margin: 15px 0 10px;
}
        
.sub {
    font-size: 0.5em;
    color: white;
    vertical-align: middle;
}
        
#button {
    display: block;
    transition-duration: 0.2s;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
    padding: 10px 18px;
    margin: 15px auto;
	border-style: none;
    border-color: none;
    border-radius: 100px;
    background: linear-gradient(90deg, #3c2b50,#c088ff);
    color: white;
    cursor: pointer;
    box-shadow: 0 1px 2px 0px black;
}
        
#button:hover {
    background: linear-gradient(90deg, #c088ff,#c088ff);
    transition-duration: 0.2s;
    color: white;
	box-shadow: 0 1px 2px 0px black;
	border-style: none;
}
        
#button:active {
    background: #333;
    box-shadow: 0 2px 3px -1px #b5b5b5;
    transition-duration: 0.4s;
}
        
#input, #output {
    font-size: 1.1em;
    display:block;
    width:100%;
    padding: 10px;
    border: 1px solid #b5b5b5;
    border-radius: 3px;
}
        
#help-text {
    font-weight: 600;
    margin: 10px;
}
		
.ad {
	background-color: #333;
	border-style: none;
	color:white;
}
        
		
.ad2 {
	background-color: red;
	border-style: none;
	color:white;
}
		
a {
	color: orange;
    transition-duration: 0.2s;
    padding-left: 20px;
    text-decoration: none;
}
		
		
span {
    color:white;
}

a:hover {
	color: white;
	text-decoration: none;
	transition-duration: 0.2s;
}

.button2 {
background-color: rgb(1, 1, 128);
color: white;
width: 300px;
height: 30px;
border: none;
font-size: 13px;
}
        
.button2:hover {
background-color: rgb(0, 0, 196);
color: white;
width: 300px;
height: 30px;
border: none;
font-size: 13px;
}

.button3 {
background-color: #222;
color: white;
width: 200px;
height: 30px;
border: 2px solid #333;
border-radius: 0px;
transition-duration: 0.2s;
font-size: 13px;
}
        
.button3:hover {
background-color: rgb(0, 0, 0);
color: white;
border: 2px solid green;
border-radius: 0px;
font-size: 13px;
transition-duration: 0.2s;
}